@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Manrope', sans-serif;
}

.font-cursive {
  font-family: 'Pacifico', cursive;
}

.dot-grid {
  background-image: radial-gradient(#22c55e 1px, transparent 1px);
  background-size: 32px 32px;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}